.c1{color: rgb(251, 96, 40);font-size: 60px;color:rgb(rgb(32, 89, 87), rgb(136, 206, 23), rgb(255, 166, 0)) ;}
body{ background-color: #e6e6e6;}
.c2{ color: hwb(0 84% 16%); font-size: 60px}
.c3{ color: darkred; font-size: 80px;border: solid 20px;}
a{text-decoration: none;}
.c4{ color:red; font-size: 20px; border: solid 5px;}
.c5{color: blueviolet;}